/* Custom Fonts */
@font-face {
  font-family: ;
  src: url(/Fonts/);
}
/* === CSS Variables === */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* 💻 Normal Desktops & Laptops — 1600×900, 1440×900, 1366×768 */
@media (max-width: 1599px) {
}

/* 💻 Small Laptops / Tablets Landscape — 1366×768, 1280×720, 1024×768 */
@media (max-width: 1199px) {
}

/* 📺 Tablets Portrait + Landscape — 912×1368, 800×1280, 768×1024 */
@media (max-width: 991px) {
}

/* 📱 Large Mobiles + Small Tablets — 768×1024, 720×1280 */
@media (max-width: 767px) {
}

/* 📱 Mid-Sized Mobiles — 640×1136, 600×1024, 540×960*/
@media (max-width: 600px) {
}

/* 📱 Mobile Phones — 500×900, 480×800 */
@media (max-width: 500px) {
}

/* 📱 Small Phones — 428×926, 414×896, 393×851 */
@media (max-width: 425px) {
}

/* 📱 Extra Small Phones — 375×667, 360×800 */
@media (max-width: 375px) {
}
